@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .social-icons{
        @apply size-8 border flex items-center justify-center text-amber-400 hover:bg-amber-400 hover:text-white;
    }
    
    .mainFeatures{
        @apply flex items-center justify-center rounded-full bg-amber-400/60 md:size-32 size-20;
    }
}

.mainBg{
    height:85.5vh;
    background-image:linear-gradient(#000c,#000c),url(./../../../assets/MainBg.jpeg);
    background-position:center;
    background-size:cover;
}
