<div class="flex items-center h-screen bg-adminSecondary">
    <div class="md:w-1/3 w-2/3 mx-auto">
        <i class="block mx-auto my-10 text-center text-white bi bi-person-fill-lock text-9xl"></i>
        <form class="space-y-4">
            <div class="relative">
                <input type="password" class="admin-mainInput" placeholder="New Password">
                <i class="absolute -translate-y-1/2 bi bi-key left-4 top-1/2 text-sky-600"></i>
            </div>

            <div class="relative *:text-sky-600">
                <input type="password" class="admin-mainInput" placeholder="Confirm New Password">
                <i class="absolute -translate-y-1/2 bi bi-key left-4 top-1/2 text-sky-600"></i>
            </div>

            <!--==== هحط البوتين في انكور وامشي حالي بيه لحد api ====-->

            <a routerLink="/adminlogin" class="block pt-8">
                <button class="px-8 py-3 text-white rounded-md bg-sky-600">Confirm</button>
            </a>
        </form>
    </div>
</div>