<div class="md:w-1/2 w-2/3 mx-auto pt-8">
    <h2 class="font-bold text-2xl tracking-widest pb-4">Choose a new password</h2>

    <form class="space-y-4">

        <div>
            <input type="password" class="dsMainInput" placeholder="New Password">
        </div>

        <div>
            <input type="password" class="dsMainInput" placeholder="Confirm New Password">
        </div>

        <!--==== هحط البوتين في انكور وامشي حالي بيه لحد api ====-->

        <a routerLink="/doctorlogin" class="block pt-8">
            <button class="py-2 text-white rounded-md bg-doctorMain w-full">Change</button>
        </a>

    </form>
</div>