<div class="flex items-center h-screen bg-slate-200">
    <div class="md:w-1/3 w-2/3 mx-auto">
        <i class="block mx-auto my-10 text-center bi bi-person-fill-lock text-9xl"></i>

        <h2 class="text-xl font-bold border-b pb-4">Find Your Account</h2>

        <p class="py-4">Please enter your email address to find your account.</p>

        <p class="alert" *ngIf="msgError">{{msgError}}</p>

        <form class="space-y-8" (ngSubmit)="handleDoctorPassword(gmail)">

            <div class="relative">
                <input [formControl]="gmail" type="email" class="dsMainInput px-10" placeholder="Email Address">
                <i class="absolute -translate-y-1/2 bi bi-person left-4 top-1/2 text-teal-600"></i>
            </div>

            <button type="submit" class="py-2 text-white rounded-md bg-teal-600 w-full focus:outline-none">
                <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
                <span *ngIf="!isLoading">Send Code</span>
            </button>

        </form>
    </div>
</div>