<div class="lg:w-1/2 w-3/4 mx-auto py-8">
    <h2 class="font-bold text-xl tracking-widest pb-8">Change Password</h2>

    <p class="alert" *ngIf="errorMsg">{{errorMsg}}</p>

    <form [formGroup]="changePassword" (ngSubmit)="handleChangePassword(changePassword)" class="space-y-4">

        <div>
            <input formControlName="oldPassword" type="password" class="dsMainInput" placeholder="Old Password">
            <div class="alert"
                *ngIf="changePassword.get('oldPassword')?.errors && (changePassword.get('oldPassword')?.touched || inValidForm)">
                <p *ngIf="changePassword.get('oldPassword')?.getError('required')">Enter an old Password</p>
            </div>
        </div>

        <div>
            <input formControlName="newPassword" type="password" class="dsMainInput" placeholder="New Password">
            <div class="alert" *ngIf=" changePassword.get('newPassword')?.errors &&
                (changePassword.get('newPassword')?.touched || inValidForm)">
                <p *ngIf="changePassword.get('newPassword')?.getError('required')">Enter a new password</p>
            </div>
        </div>

        <button type="submit" class="text-white bg-teal-600 rounded py-2 px-4 focus:outline-none">
            <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
            <span *ngIf="!isLoading">Change Password</span>
        </button>

    </form>

</div>